PORT=5003
MONGO_URI=mongodb+srv://Theanrawich:<db_password>@be-project-null.rd5dkxt.mongodb.net/Restaurant_reservations?appName=be-project-null
JWT_SECRET=your_jwt_secret
JWT_COOKIE_EXPIRE=30
NODE_ENV=development
JWT_EXPIRE=1d