# port configuration
PORT=5000

# database configuration
MONGO_URI=mongodb+srv://null:F89mAKs8weTiyPYD@be-project-null.rd5dkxt.mongodb.net/Restaurant_reservations?appName=be-project-null

# JWT configuration
JWT_SECRET=be_final_project_2026
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

# environment configuration
NODE_ENV=development